<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="Autofac" version="3.1.1" />
	<package id="ManyConsole" version="0.4.2.16" />
	<package id="NDesk.Options" version="0.2.1" />
	<package id="ServiceStack" version="3.9.56" />
	<package id="ServiceStack.Common" version="3.9.56" />
	<package id="ServiceStack.OrmLite.SqlServer" version="3.9.56" />
	<package id="ServiceStack.Redis" version="3.9.56" />
	<package id="ServiceStack.Text" version="3.9.56" />
</packages>